<div class="text-center">


    <h1 class="display-4">Click Here to Shuffle Cards</h1>


</div>


<div class = "text-center"> 


    <form method="post" asp-action="CardsDisplay">

    <input type="submit" />


</form>



</div>